.main-1 {
    background: #000;
    color: #fff;
}

.plus_sign {
    position: relative;
}

img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
}

.row {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}