.main_service {

    .full-width-image {
        height: 325px;
        max-width: 1440px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .rowf {
        padding: 40px 40px;
        background-color: #fff;
    }
}
