.slide {
    border: 2px black dotted;
    display: inline-block;

    .slide__bg {
        position: absolute;
        
        width: 50%;
        height: 100%;
        background-color: hotpink;
        background-size: cover;
        will-change: transform;
    }
    .slide__content {
        position: absolute;
        width: 50%;
        height: 100%;
        display: inline-block;
    }
}