footer {
  display: flex;
  background-color: #000;
  color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  font-size: 16px;
  line-height: calc(19/16);

  hr {
    display: none;
    width: 100%;
    margin: 48px auto;
    border: none;
    height: 2px;
    background-color: #fff;
  }

  //
  .ftr-item {
    box-sizing: border-box;

    //
    .services .expertise .careers {
      flex: 0 0 17.1875%;
      max-width: 17.1875%;

      //
      header {
        display: block;
      }
    }
  }

  
}